.parent-pen{
    position: fixed;
  top: 55%;
  left: 50%;
  width: 100%;
  transform: translate(-43%, 180%); /* Center horizontally and vertically */
  background-color: rgba(0, 0, 0, 0); /* Adjust the background color as needed */
  padding: 20px; /* Add padding as needed */
  z-index: 6;
}
.penbody{
  display: flex;
  justify-content: center; 
  align-items: center; 
}
.about-banner{
  height: 100vh;
  width: 100%;
  margin-top:4rem;
  display: flex;
  justify-content: center;
}
.banner-img{
  overflow: hidden;
  position: relative;
  background-image: url('../../images/tag.png');
  background-attachment: fixed;
  background-position: center;
  background-repeat:repeat-y;
  background-size:contain;
  z-index: 5;
  height: 80vh;
  width: 100vw;
  margin-top: 50px;
}
.about-content{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    height: 150vh;
    background-color: #121212;
}
.content-text-parent{
  width: 60vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* css for profile card*/
.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;
  flex: 1;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {

  color: black;
}

.flip-card-back {
  background-color: #5858585b;
  color: white;
  transform: rotateY(180deg);
}
/*end*/

#person-details2{
flex:1;
padding: 5px 10px;
background-image:linear-gradient(to right,#FF416C, #ff4b2b3b);
}
#person-details1{
  flex:1;
  padding: 5px 10px;
  background-image:linear-gradient(to left,#FF416C, #ff4b2b3b);
  }